.git
.git-crypt
models/
models/sam1/
models/sam1/**
models/sam2/
models/sam2/**
input/
output/
classification/
src/cv_recognition/
src/vision-pipeline/runs/
src/vision-pipeline/dataset/
src/mediamtx_v1.15.6_linux_amd64/
docker/db-data/
.vscode/
__pycache__/
*.pyc
.venv/
env/
venv/
